body{
  background-color: #15202b;
}
div{
  background-color: #15202b;
}
i{
  color:white;
}
.main-icon{
  margin-left:50px;
}
.navbar,.card{
background-color: #15202b;
color:white;
border-color:#38444d;
}
.icon{
  border-radius:50%;

  border:3px solid black;
  position:relative; top:-270px; left:20px; z-index: 2;

}
.name{
  margin-top:50px;
  margin-left:20px
}
.ids{
  color:gray;
}
h5{
  color: white;
  padding:20px;
}
.navbar{
  border: thin solid;

  background-color:#15202b;
border-color:#38444d;
}
