/* body {
  background-image: linear-gradient(-90deg, #D0008C, #89008D);
} */

.main-title {

  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 100px;
}
.margin{
    margin-top:5vh;
}
.center {
  text-align: center;
  margin: 0px auto;
}
.margins{
  margin-top: 60px;
}
.text {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 30px;
  color: white;
}

.ex {
  font-size: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;

}
.icon{
width:150px;
border-radius: 100%;
margin:0 auto;
text-align: center;
}
.card {
border-radius: 0px;
  background-color: white;
border: none;
margin: 10px;
}
.bigcard{
  padding:20px;
  background-color:rgba(255,255,255,0.5);

}
.c-text{
  color:black;
}

.logo-margin{
  margin:5px;
}

.white{
  background-color: white;
}
.btn-1{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color:white;
  color:black;
  border-radius:50px;
}
.p-title{
  font-size:30px;


}
body{
background-color: #f6f6f4;
}
.margin-img{
  margin-top:100px;
}

.card-col{
  background-color:rgba(255,255,255,0.5);
}


.navbar {

  background-color: #55c500;
  border-bottom:5px,#333333;
  
}
.notosans{
  font-family: 'Noto Sans JP', sans-serif;
}
.skills{
  background-color: #333333;
  font-family: 'Fira Code', monospace;
  color: white;
}
.yellow{
  color: yellow;
}

	
a {
 
color:black;

 
}
.profiles{
  font-size: 35px;
}
.names{
  margin-top: 30px;
}
img{
  text-align: center;
  margin: 0 auto;
}
.gray{
  color: rgb(121, 121, 121);
}
.logos{
  font-weight: bold;
  font-style: 30px;
  color: white;
}