<div class="col-md-12 col-lg-8">

    <div class="card users">
     
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
       
            <h2>hogehoge</h2>
            <p><span class="badge badge-pill badge-secondary">Secondary</span><span class="badge badge-pill badge-secondary">Secondary</span></p>
          </li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
       
      </div>

    </div>


  </div>