<div class="col-md-12 col-lg-4">


    <div class="card users">
      <div class="card-body center">
        <img src="media/yamano.png" class="icon" alt="">
        <h4 class="notosans names center">Yamano Itsuki</h4>
        <div class="row">
            <a class="center" href="https://twitter.com/PM80437319">
            <i class="bi bi-twitter"></i>
        </a>
        <a class="center" href="https://twitter.com/PM80437319">
            <i class="bi bi-github"></i>
        </a>
        <a class="center" href="https://twitter.com/PM80437319">
            <i class="bi bi-facebook"></i>
        </a>

        </div>
        <div class="row">
            <a  href="https://twitter.com/PM80437319?ref_src=twsrc%5Etfw" class="btn btn-outline-success center">Follow Me</a>
        </div>
      </div>

    </div>


  </div>